
<h1> {{ fileName }} file </h1>

<a href="{{link}}"> Download </a> </br>


<a href="{{videoLink}}"> Video </a> </br>
<video id="videoPlayer" controls>
  <source src="http://localhost:3000{{videoLink}}" type="video/mp4">
</video>
