
<!doctype html>
<html lang = 'en'>

    <head></head>

<script>

    // Your application has indicated there's an error
    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/user/login";

    }, 5000);



</script>
<body>

Authentication failed, redirecting to login page shortly. If that doesnt work, click here <a href="/user/login">Login</a>


</body>


</html>