
<form method="POST" action="/auth" >
  
 

  <div>
    <label for="username">username</label>
    <input name="username" id="username">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password" id="password">
  </div>


  <div>
    <button>Login</button>
  </div>
</form>